{% extends 'admin/movies.html' %}

{% block title %}Modify User ID Details{% endblock title %}

{% block bs %}{% endblock bs %}

{% block css %}
<style>
    #verifyUserIdentityFormContainer{
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
    }
    #verifyUserIdentityForm{
        flex-direction: column;
        display: flex;
        row-gap: 3vh;
        align-self: center;
    }
    .imageInput{
        padding: 20px;
        border: 1px solid #959595;
        border-radius: 5px;
        color: black;
    }
    label{
        color: black;
        font-weight: bold;
    }
    .inputContainer{
        display: flex;
        flex-direction: column;
        row-gap: 3px;
    }
    .myInputFieldWrapper{
        display: flex;
        flex-direction: column;
        /* width: 100%; */
    }
    .myInputField{
        background: none;
        outline: none;
        color: black;
        padding: 15px;
        border: 1px solid #c5c5c5;
        border-radius: 8px;
        /* width: 100%; */
    }
</style>
{% endblock css %}

{% block main %}

<div id="verifyUserIdentityFormContainer" class="container">
    <h1 class="textCenter">Modify user identity details</h1>
    <!-- <p class="textCenter">Give some some basic identity info and upload pictures of front and back side of your national identity card/document. This is crucial to build a safe environment for investors</p> -->
    <form action="" method="post" enctype="multipart/form-data" id="verifyUserIdentityForm">
        <div class="myInputFieldWrapper">
            <label for="nameInput">Full name of user</label>
            <input type="text" name="fullname" id="nameInput"  class="myInputField" placeholder="" required value="{{req.fullname}}">
        </div>
        <div class="myInputFieldWrapper">
            <label for="idNoInput">National ID number</label>
            <input type="text" name="id_no" id="idNoInput"  class="myInputField" placeholder="" required value="{{req.id_no}}">
        </div>
        <div class="myInputFieldWrapper">
            <label for="dobInput">Date of Birth</label>
            <input type="date" name="dob" id="dobInput"  class="myInputField" placeholder="" required value="{{req.dob}}">
        </div>
        <button class="btn btnNormal" type="submit">Save</button>
    </form>
</div>

{% endblock main %}

