<!doctype html>
{% extends 'admin/movies.html' %}

{% block title %}Levels{% endblock title %}

{% block main %}

<h1 class="my-3 text-center">All Levels</h1>
        <!-- <a href="/admin/add_new_user" class="btn btn-success my-3">Add New Level</a> -->
        <table id="moviesTable" class="table">
            <thead>
              <tr>
                <th scope="col">Level Name</th>
                <th scope="col">Required deposit</th>
                <th scope="col">Required referals</th>
                <th scope="col">24 Hour Profit</th>
                <th scope="col">Weekly Profit</th>
                <th scope="col">PreSale Profit</th>
                <th scope="col">Buy Minimum Presale Tickets</th>
                <th scope="col">Minimum Presale Purchase Value</th>
                <!-- <th scope="col">Actions</th> -->
              </tr>
            </thead>
            <tbody>
                {% for level in levelList %}
                <tr>
                    <td>VIP {{level.level_number}}</td>
                    <td>{{level.minimum_overall_deposit}} &dollar;</td>
                    <td>{{level.minimum_overall_invitation}}</td>
                    <td>{{level.daily_ticket_profit}}%</td>
                    <td>{{level.weekly_ticket_profit}}%</td>
                    <td>{{level.presale_ticket_profit}}%</td>
                    <td>{{level.minimum_presale_tickets_buy}}</td>
                    <td>{{level.minimum_purchase_value}} &dollar;</td>
                    <!-- <td>
                        <a href="" class="btn btn-secondary">Edit</a>
                    </td> -->
                </tr>
                {% endfor %}
            </tbody>
          </table>

{% endblock main %}

{% block js %}{% endblock js %}