{% extends 'admin/movies.html' %}

{% block title %}All Users{% endblock title %}

{% block css %}
<style>
    th.nameCell, td.nameCell{
        min-width: 161px;
    }

    .dpImgWrapper{
        width: 37px;
        height: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: white;
    }

    .dpImgWrapper i{
        width: 100%;
        color: black;
        font-size: 134%;
    }

    .dpImg{
    width: 100%;
    border-radius: 100%;
    }

    #profileSpan{
    /* padding: 5px 10px; */
    width: 100%;
    justify-content: normal;
}

#profileSpan:hover{
    background-color: #1d1d1d;
}
</style>
{% endblock css %}

{% block main %}

<h1 class="my-1 text-center">All Users</h1>
<a href="/admin/add_new_user" class="btn btn-success my-3">Add New User</a>
<div class="tableWrapper">
    <table id="moviesTable" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">User ID</th>
                <th scope="col">Level</th>
                <th scope="col" class="nameCell h">Name</th>
                <th scope="col">Account Status</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Password</th>
                <th scope="col">Country</th>
                <th scope="col">Referals</th>
                <th scope="col">Overall Deposit</th>
                <th scope="col">Wallet Balance</th>
                <th scope="col">Experience Money</th>
                <th scope="col">Active Orders</th>
                <th scope="col">Self Referal Code</th>
                <th scope="col">Joining Referal Code</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usersList %}
            <tr>
                <td>{{ usersList.index(user) + 1 }}</td>
                <td>{{user.user_id}}</td>
                <td>{{user.level}}</td>
                <td class="nameCell b">
                    <span class="btnWithIcon topBarSpan" id="profileSpan">
                        <div class="dpImgWrapper">
                            {% if get_dpImg_src(user.user_id) %}
                            <img class="dpImg" src="{{get_dpImg_src(user.user_id)}}" alt="DP">
                            {% else %}
                            <i class="fa-solid fa-user"></i>
                            {% endif %}
                        </div>
                        <span>{{user.name}}</span>
                    </span>
                </td>
                {% if user.account_status == "non-verified" %}
                    <td class="btnsT"><span class="userACStatus notv">{{ user.account_status }}</span></td>
                {% elif user.account_status == "Pending" %}
                    <td class="btnsT"><span class="userACStatus pending">{{ user.account_status }}</span></td>
                {% elif user.account_status == "Verified" %}
                    <td class="btnsT"><span class="userACStatus verified">{{ user.account_status }}</span></td>
                {% endif %}

                {% if user.email %}
                <td>{{user.email}}</td>               
                {% else %}
                <td>N/A</td>
                {% endif %}
                
                <td>{{user.phone}}</td>
                <td>{{user.password}}</td>
                <td>{{abbrev_to_country[user.country]}}</td>
                <td>{{user.overall_referals}}</td>
                <td>{{user.overall_deposit}}</td>
                <td>{{round(user.wallet_balance, 2)}}</td>

                {% if user.experience_money == None %}
                <td>Expired</td>
                {% else %}
                <td>{{round(user.experience_money, 2)}}</td>
                {% endif %}

                <td>{{get_pendingOrders(user)}}</td>
                
                <td>{{user.selfReferalCode}}</td>
                <td>{{user.joiningReferalCode}}</td>
                <td class="btnsTd">
                    <a href="/admin/add_wallet_balance/{{ user.user_id }}" class="btn btn-warning">Add Balance</a>
                    <a href="/admin/minus_wallet_balance/{{ user.user_id }}" class="btn btn-info">Deduct Balance</a>
                    <a href="/admin/delete_user/{{user.user_id}}" class="btn btn-danger userDelBtn">Delete User</a>
                    <a href="/user_account_settings/{{user.user_id}}?source=admin" class="btn btn-success">Account Settings</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock main %}

{% block js %}
<script>
    let userDelBtnList = document.querySelectorAll(".userDelBtn");

    userDelBtnList.forEach(delBtn => {
        delBtn.addEventListener('click', (e)=>{
            e.preventDefault();
            let confirmation = window.confirm(`Are you sure to delete this User ?`);
            if(confirmation){
                window.location.href = e.target.href;
            }
        })
    });
</script>
{% endblock js %}
</html>