{% extends 'base.html' %}

{% block title %}Register{% endblock title %}

{% block desc %}Register your account in Influx Global{% endblock desc %}

{% block css %}

<style>

@import url(https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.11.0/css/flag-icons.min.css);

main{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 5vw;
}

.left{
    /* width: 50%; */
    display: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left img{
    width: 35vw;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 50%; */
    row-gap: 5vh;
}

.right h1{
    font-size: 2.4rem;
}

form{
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 90%;
    border-radius: 8px;
}

form p{
    align-self: center;
}

form p span{
    color: gray;
}

form p a{
    color: blue;
    text-decoration: none;
}

.inputFieldWrapper{
    padding: 15px;
    display: flex;
    align-items: center;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    column-gap: 20px;
}

.inputFieldWrapper i{
    color: #1b1a6a;
}

.inputField{
    background: none;
    outline: none;
    border: none;
    width: 100%;
    color: black;
}
#referalCodeInput{
    /* width: auto; */
}

label{
    color: black;
    font-size: 0.9rem;
    font-weight: bold;
}

select.inputField option{
    color: black;
}

</style>

{% endblock css %}

{% block nav %}{% endblock nav %}

{% block header %}{% endblock header %}

{% block main %}

<main>
    <!-- <section class="left">
    
    <img src="/static/img/logos/Png/Influx global logo Final Files-07.png" alt="">

    </section> -->
    <section class="right">
    <!-- <h1 class="textCenter"> -->
    <!-- <a style="text-decoration: none;" href="/">InfluxGlobal.com</a> -->
    <!-- </h1> -->
    <h1 class="textCenter">Register Your Account</h1>
        <form action="" method="post" id="registerForm">
            <div class="inputFieldWrapper">
                <i class="fa-solid fa-user"></i>
                <input class="inputField inputFieldJs" type="text" placeholder="Name" required name="name" id="nameInput">
            </div>
            <div class="inputFieldWrapper">
                <i class="fa-solid fa-globe"></i>
                <select class="inputField" name="country" id="countryCodeSelector" required>
                    <option value="" class="selected" selected>Select your Country</option>
                    <option value="BD"><span class="fi fi-bd fis"></span>Bangladesh</option>
                    <option value="PK"><span class="fi fi-pk fis"></span>Pakistan</option>
                    <option value="PH"><span class="fi fi-pk fis"></span>Philippines</option>
                    <option value="TH"><span class="fi fi-th fis"></span>Thailand</option>
                    <option value="US"><span class="fi fi-th fis"></span>USA</option>
                    <option value="SG"><span class="fi fi-th fis"></span>Singapore</option>
                    <option value="TW"><span class="fi fi-th fis"></span>Taiwan</option>
                    <option value="LA"><span class="fi fi-th fis"></span>Laos</option>
                </select>
            </div>
            <div class="inputFieldWrapper">
                <i class="fa-solid fa-phone"></i>
                <input id="phoneInput" class="inputField inputFieldJs" type="tel" placeholder="Mobile Number" required name="phone">
            </div>
            <div class="inputFieldWrapper">
                <i class="fa-solid fa-lock"></i>
                <input class="inputField inputFieldJs" type="password" placeholder="Password" required name="password" id="Pinput">
            </div>
            <div class="inputFieldWrapper">
                <i class="fa-solid fa-lock"></i>
                <input class="inputField inputFieldJs" type="password" placeholder="Confirm Password" required id="confirmPinput">
            </div>
            <div class="inputFieldWrapper">
                <i class="fa-solid fa-hashtag"></i>
                {% if referalCode %}
                <label for="referalCodeInput">Referal Code</label>
                <input class="inputField inputFieldJs" type="text" placeholder="Referal Code" required id="referalCodeInput" name="joiningReferalCode" value="{{referalCode}}" readonly>
                {% else %}
                <input class="inputField inputFieldJs" type="text" placeholder="Referal Code" required id="referalCodeInput" name="joiningReferalCode">
                {% endif %}
            </div>
            <button type="submit" class="btn btnNormal" id="submitBtn">Create Account</button>
            <p><span>Already Registered? <a href="/login">Login Here</a></span></p>
        </form>
    </section>
</main>

{% endblock main %}

{% block footer %}{% endblock footer %}

{% block js %}

<script>

let registerForm = document.getElementById('registerForm');
let countryCodeSelector = document.getElementById('countryCodeSelector');

let nameInput = document.getElementById('nameInput');
let phoneInput = document.getElementById('phoneInput');
let passwordInput = document.getElementById('Pinput');
let confirmPasswordInput = document.getElementById('confirmPinput');
let referalCodeInput = document.getElementById('referalCodeInput');

let submitBtn = document.getElementById('submitBtn');

countryCodeSelector.setCustomValidity("Please select a country");

let inputsList = [referalCodeInput, confirmPasswordInput, passwordInput, phoneInput, nameInput]

function isAllFieldsFilled(){
    let response = true
    inputsList.forEach(inputElement => {
        if(!(inputElement.checkValidity())){
            console.log('1st if of isallfiledsfilled')
            inputElement.reportValidity();
            response = false
        }
    });
    if (countryCodeSelector.value == ""){
        console.log('2nd if of isallfiledsfilled')
        window.alert("Please select your country")
        response = false
    }
    return response
}

function isPhoneNumberValid(){
    // let value = phoneInput.value;
    if (phoneInput.value.match(/[a-zA-Z]/g)) {
        window.alert("Please enter a valid mobile number")
        console.log(`phone number is ${phoneInput.value}`)
        return false
    } else {
        console.log("Phone number is valid")
        return true
    }
}

function validateForm(){
    let isPasswordsSame = passwordInput.value == confirmPasswordInput.value;
    if (isAllFieldsFilled()) {
        if (isPasswordsSame) {
            if (isPhoneNumberValid()) {
                return true
            } else {
                return false
            }
        } else {
            window.alert('Passwords not matching. Please retype the same password in confirm password box ')
            return false
        }
    } else {
        return false
    }
}

submitBtn.addEventListener('click', (e)=>{
    e.preventDefault();
    if (validateForm()){
        // window.alert('Form sumbited without any error');
        registerForm.submit();
    }
    // else{
    //     window.alert('Form not submitted successfully');
    // }
})

countryCodeSelector.addEventListener('change', async (e)=>{
    if (countryCodeSelector.value != "") {
        // window.alert(`value is ${countryCodeSelector.value}`)
        phoneInput.parentElement.style.display = 'flex';
        await fetch(`/get_country_code/${countryCodeSelector.value}`, {
            method: "GET"
        }).then((response)=>{
            return response.text()
        }).then((responseText)=>{
            phoneInput.placeholder = `Mobile No. with country code ${responseText}`;           
        }).catch((e)=>{
            phoneInput.placeholder = `Mobile number with country code`;           
        })
        // phoneInput.disabled = false
    } else{
        phoneInput.placeholder = 'Please choose your country';
        phoneInput.value = null
        // phoneInput.disabled = true
        phoneInput.parentElement.style.display = 'none';
    }
});

document.body.onload = function(){
    if (countryCodeSelector.value == ""){
        phoneInput.parentElement.style.display = 'none';
    }
}

</script>

{% endblock js %}