{% extends "mail/ticket_buy.html" %}

{% block main %}

<div class="header">
    <h1>Influx Global</h1>
    <p>Notification about Capital amount return</p>
</div>

<div class="content">
    <p>Your capital amount of $<strong>{{data["total_purchase_value"]}}</strong> for this order has been transfered to your wallet</p>
    <p>Your new wallet balance is $<strong>{{round(user.wallet_balance, 2)}}</p>

    <h2>Order Details</h2>

    <table>
        <tr>
            <th>Movie name</th>
            <td>{{data["title"]}}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{data["placement"]}}</td>
        </tr>
        <tr>
            <th>Ticket Price($)</th>
            <td>{{data["ticket_price"]}}</td>
        </tr>
        <tr>
            <th>No. of tickets purchased</th>
            <td>{{data["tickets_purchased"]}}</td>
        </tr>
        <tr>
            <th>Total Price($)</th>
            <td>{{data["total_purchase_value"]}}</td>
        </tr>
        <tr>
            <th>Purchase time</th>
            <td>{{get_readable_date_string(data["purchase_time"])}}</td>
        </tr>
        <tr>
            <th>Purchased using</th>
            <td>{{data["purchased_using"]}}</td>
        </tr>
        <tr>
            <th>Estimated daily profit($)</th>
            <td>{{data["estimated_daily_profit"]}}</td>
        </tr>
        <tr>
            <th>Order status($)</th>
            <td>{{data["status"]}}</td>
        </tr>
    </table>

    
    <p style="color: rgb(0, 171, 0);">Congrats, your order has completed successfully</p>
    <p>Check out more on our website: <a href="https://www.influx-global.com" target="_blank">www.influx-global.com</a></p>
</div>

{% endblock main %}