{% extends 'user/home.html' %}

{% block title %}Account{% endblock title %}

{% block css %}
<style>
    #accountContainer {
        /* border: 1px solid #ffffff61; */
        /* margin: 5vw; */
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        /* background: linear-gradient(90deg, #180848, #06101c, #180848); */
    }

    span strong {
        color: yellow;
        margin-left: 20px;
    }

    .userId {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .level {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #profileContainer {
        position: relative;
        /* background: linear-gradient(90deg, #180848, #06101c, #180848); */
        background: linear-gradient(90deg, #483b08, #7d7e0a, #483b08);
        padding: inherit;
        border-radius: inherit;
        display: flex;
        /* flex-direction: column; */
        /* align-items: center; */
        justify-content: center;
        column-gap: 15%;
        padding-bottom: 10vh;
        padding-top: 10vh;
    }

    .profileSection {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        align-items: center;
    }

    .profilePicWrapper {
        border-radius: 100%;
        background-color: #0a4c9f;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10vw;
        height: 10vw;
    }

    .profilePicWrapper span {
        font-weight: bold;
        font-size: 3rem;
    }

    .levelSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2vh;
        justify-content: center;
    }

    .levelSection p {
        text-align: center;
        font-size: 0.8rem;
        opacity: 0.7;
    }

    .infoBlock {
        padding: 10px 15px;
        background-color: #003e6a;
        border-radius: 30px;
    }

    .levelSection .level {
        align-self: center;
    }

    #accountContainer .actions {
        display: flex;
        flex-direction: column;
        /* align-items: center;
    justify-content: center;
    column-gap: 10px; */
    }

    #accountContainer .actions .btn {
        border: 1px solid #ffffff61;
        border-radius: 5px;
    }

    #accountContainer .actions .btn:hover {
        border-color: orange;
        background-color: orange;
    }

    #accountContainer .actions .btn.btnWithIcon {
        justify-content: space-around;
        flex-direction: row-reverse;
    }

    #bottombtnsContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        column-gap: 10px;
        flex-wrap: wrap;
    }

    @media screen and (max-width: 1431px) {
        #profileContainer div{
            margin: 15px 0px ;
        }
        .profilePicWrapper{
            width: 120px;
            height: 120px;
        }
        span.name{
            text-align: center;
        }
    }
    @media screen and (max-width: 608px) {
        #profileContainer{
            flex-direction: column;
            row-gap: 15px;
        }
        .level{
            top: unset;
            bottom: 20px;
        }
    }
</style>
{% endblock css %}

{% block main %}

<div class="container" id="accountContainer">

    <div id="profileContainer">
        <div class="profileSection">
            <span class="userId infoBlock">User Id {{user.user_id}}</span>
            <div class="profilePicWrapper">
                <span>{{ user.name[0] }}</span>
            </div>
            <span class="name">{{user.name}}</span>
        </div>
        <div class="levelSection">
            <span class="level infoBlock">Level VIP {{user.level}}</span>
            <span class="">Total earning <strong>&dollar; {{user.overall_earning}}</strong></span>
            <span class="">Overall Deposit <strong>&dollar; {{user.overall_deposit}}</strong></span>
            <span class="">Total Referals <strong>{{user.overall_referals}}</strong></span>
            <p>{{level_upgrade_string}}</p>
        </div>
        
    </div>
    <div class="referalCodeWrapper levelSection">
        <span class="infoBlock">
            Referal Code <strong>{{user.selfReferalCode}}</strong>
        </span>
        <button id="refLinKCopyBtn" class="btn btnTrans btnWithIcon">
            <i class="fa-solid fa-copy"></i>
            <span id="refLinKCopyBtnSpan">Copy Referal Link</span>
        </button>
        <p>When your friends register using your referal code you will get 10% or their earnings</p>
        <div id="bottombtnsContainer">
            <a href="/user/wallet" class="btn btnNormal">Go to Wallet</a>
            <a href="/logout/{{user.user_id}}" class="btn btnTrans">Log Out</a>
        </div>
    </div>

    <!-- <div class="actions">
    <a href="/user/recharge" class="btn btnWithIcon">
        <i class="fa-solid fa-arrow-right"></i>
        <span>Recharge</span>
    <a href="" class="btn btnWithIcon">
        <i class="fa-solid fa-arrow-right"></i>
        <span>Withdraw</span>
    </a>
</div> -->

</div>

{% endblock main %}

{% block js %}
<script>
    let refLinKCopyBtn = document.getElementById("refLinKCopyBtn");
    let refLinKCopyBtnSpan = document.getElementById("refLinKCopyBtnSpan");
    let referalLink = "https://www.influx-global.com/register?referalCode={{user.selfReferalCode}}"

    refLinKCopyBtn.addEventListener('click', (e)=>{
        navigator.clipboard.writeText(referalLink).then(()=>{
            refLinKCopyBtnSpan.innerText = "Copied"
            // window.alert("copied to clipboard")
        }).catch(()=>{
            refLinKCopyBtnSpan.innerText = "Not copied"
            // window.alert("not copied")
        });
        
    })
</script>
{% endblock js %}