{% extends 'user/home.html' %}

{% block title %}Account{% endblock title %}

{% block css %}
<style>
    #accountContainer {
        /* border: 1px solid #ffffff61; */
        /* margin: 5vw; */
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        /* background: linear-gradient(90deg, #180848, #06101c, #180848); */
    }

    span strong {
        color: #ffd400;
        /* margin-left: 20px; */
        font-size: 1.2rem;
    }

    .userId {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .level {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #profileContainer {
        border: 1px solid #484848;
        position: relative;
        /* background: linear-gradient(90deg, #180848, #06101c, #180848); */
        /* background: linear-gradient(90deg, #483b08, #7d7e0a, #483b08); */

        background: linear-gradient(45deg, black, transparent);
        background-color: #505050a6;

        padding: inherit;
        border-radius: inherit;
        display: flex;
        /* flex-direction: column; */
        /* align-items: center; */
        justify-content: center;
        column-gap: 15%;
        padding-bottom: 10vh;
        padding-top: 10vh;
    }

    .profileSection {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        align-items: center;
    }

    .profilePicWrapper {
        border-radius: 100%;
        /* background-color: #0a4c9f; */
        background-color: #6a3600;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10vw;
        height: 10vw;
    }

    .profilePicWrapper span {
        font-weight: bold;
        font-size: 3rem;
    }

    span.name{
        font-weight: bold;
        font-size: 1.3rem;
    }

    .levelSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2vh;
        justify-content: center;
    }

    .levelSection p {
        text-align: center;
        font-size: 0.8rem;
        opacity: 0.7;
    }

    .infoBlock {
        padding: 10px 15px;
        /* background-color: #003e6a; */
        background-color: #6a3600;
        border-radius: 30px;
        font-size: 0.9rem;
    }

    .amountBlock{
        /* border: 1px solid #878787; */
        /* padding: 30px; */
        padding: 25px 20px;
        min-width: 200px;
        border-radius: 10px;
        background-color: #303030;
        font-size: 0.9rem;
        display: flex;
        justify-content: space-between;
        box-shadow: 1px 1px 1px black;
        column-gap: 20px;
        row-gap: 20px;
        flex-wrap: wrap;
        align-items: center;
    }

    .rCode{
        font-weight: bold;
        /* color: #ffd400; */
        color: black;
        background-color: white;
        padding: 10px;
        border-radius: 3px;
    }

    .levelSection .level {
        align-self: center;
    }

    #accountContainer .actions {
        display: flex;
        flex-direction: column;
        /* align-items: center;
    justify-content: center;
    column-gap: 10px; */
    }

    #accountContainer .actions .btn {
        border: 1px solid #ffffff61;
        border-radius: 5px;
    }

    #accountContainer .actions .btn:hover {
        border-color: orange;
        background-color: orange;
    }

    #accountContainer .actions .btn.btnWithIcon {
        justify-content: space-around;
        flex-direction: row-reverse;
    }

    #bottombtnsContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        column-gap: 10px;
        flex-wrap: wrap;
    }

    #verificationBox{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #verificationBox .title{
        font-size: 1.2rem;
        font-weight: bold;
    }
    span.btnWithIcon{
        background-color: white;
        padding: 8px 13px;
        border-radius: 30px;
    }
    span.btnWithIcon i{
        line-height: 0px;
    }
    span.btnWithIcon span{
        font-weight: bold;
        font-size: 0.9rem;
    }
    .v-box-non-verified i, .v-box-non-verified span span{
        color: rgb(255, 25, 25);
    }
    .v-box-non-verified i{
        font-size: 1.3rem;
    }
    .v-box-Pending i, .v-box-Pending span span{
        color: #cb7a00;
    }
    .v-box-Verified i, .v-box-Verified span span{
        color: green;
    }
    .v-box-Verified i{
        font-size: 1.3rem;
    }

    @media screen and (max-width: 1431px) {
        #profileContainer div{
            margin: 15px 0px ;
        }
        .profilePicWrapper{
            width: 120px;
            height: 120px;
        }
        span.name{
            text-align: center;
        }
    }
    @media screen and (max-width: 608px) {
        #profileContainer{
            flex-direction: column;
            row-gap: 15px;
        }
        .level{
            top: unset;
            bottom: 20px;
        }
        .amountBlock{
            justify-content: center;
        }
        .container{
            padding-top: 5vh;
            padding-bottom: 20vh;
            padding-right: 5vw;
            padding-left: 5vw;
        }
    }
</style>
{% endblock css %}

{% block main %}

<div class="container" id="accountContainer">

    <div id="verificationBox" class="v-box-{{user.account_status}}">
        <span class="title">Verification Status</span>
        <span class="btnWithIcon">
            {% if user.account_status == 'non-verified' %}
            <i class="fa-solid fa-triangle-exclamation"></i>
            {% elif user.account_status == 'Pending' %}
            <i class="fa-solid fa-hourglass-end"></i>
            {% elif user.account_status == 'Verified' %}
            <i class="fa-solid fa-circle-check"></i>
            {% endif %}
            <span>{{user.account_status}}</span>
        </span>
    </div>
    
    {% if user.account_status == 'non-verified' %}
    <a href="/verify-user-identity" class="btn btnNormal btnWithIcon">Click here to verify your identity and upgrade your account</a>
    {% endif %}

    <div id="profileContainer">
        <div class="profileSection">
            <span class="userId infoBlock">User Id {{user.user_id}}</span>
            <div class="profilePicWrapper">
                <span>{{ user.name[0] }}</span>
            </div>
            <span class="name">{{user.name}}</span>
        </div>
        <div class="levelSection">
            <span class="level infoBlock">Level VIP {{user.level}}</span>
            <span class="amountBlock">Total earning <strong>&dollar; {{ round(user.overall_earning, 2) }}</strong></span>
            <span class="amountBlock">Overall Deposit <strong>&dollar; {{ round(user.overall_deposit, 2) }}</strong></span>
            <span class="amountBlock">Total Referals <strong>{{user.overall_referals}}</strong></span>
            <p>{{level_upgrade_string}}</p>
        </div>
        
    </div>
    <div class="referalCodeWrapper levelSection">
        <span class="amountBlock">
            Referal Code <div class="rCode">{{user.selfReferalCode}}</div>
        </span>
        <button id="refLinKCopyBtn" class="btn btnTrans btnWithIcon">
            <i class="fa-solid fa-copy"></i>
            <span id="refLinKCopyBtnSpan">Copy Referal Link</span>
        </button>
        <p>When your friends register using your referal code you will get 10% or their earnings</p>
        <div id="bottombtnsContainer">
            <a href="/user/wallet" class="btn btnNormal">Go to Wallet</a>
            <a href="/logout/{{user.user_id}}" class="btn btnTrans">Log Out</a>
        </div>
    </div>

    <!-- <div class="actions">
    <a href="/user/recharge" class="btn btnWithIcon">
        <i class="fa-solid fa-arrow-right"></i>
        <span>Recharge</span>
    <a href="" class="btn btnWithIcon">
        <i class="fa-solid fa-arrow-right"></i>
        <span>Withdraw</span>
    </a>
</div> -->

</div>

{% endblock main %}

{% block js %}
<script>
    let refLinKCopyBtn = document.getElementById("refLinKCopyBtn");
    let refLinKCopyBtnSpan = document.getElementById("refLinKCopyBtnSpan");
    let referalLink = "https://www.influx-global.com/register?referalCode={{user.selfReferalCode}}"

    refLinKCopyBtn.addEventListener('click', (e)=>{
        navigator.clipboard.writeText(referalLink).then(()=>{
            refLinKCopyBtnSpan.innerText = "Copied"
            // window.alert("copied to clipboard")
        }).catch(()=>{
            refLinKCopyBtnSpan.innerText = "Not copied"
            // window.alert("not copied")
        });
        
    })
</script>
{% endblock js %}