<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <title>User-{% block title %}Home{% endblock title %} | Influx Global</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/static/css/comman.css">
    <link rel="stylesheet" href="/static/css/user/style.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>

{% block css %}{% endblock css %}

<body>

    {% block topbar %}
    <div id="topBar">
        <div class="block" style="padding: 5px 10px;">
            <span class="btnWithIcon">
                <img src="/static/img/favicons/apple-touch-icon.png" alt="logo" class="topBarLogo">
                <span style="font-weight: bold;">Influx Global</span>
            </span>
        </div>
        <div class="block" style="font-size: 0.8rem; cursor: pointer;">
            <span class="btnWithIcon topBarSpan" id="profileSpan">
                <div class="dpImgWrapper">
                    {% if get_dpImg_src(user.user_id) %}
                    <img class="dpImg" src="{{get_dpImg_src(user.user_id)}}" alt="DP">
                    {% else %}
                    <i class="fa-solid fa-user" style="color: #ffffff;"></i>
                    {% endif %}
                </div>
                <span>{{user.name}}</span>
                <i class="fa-solid fa-caret-down"></i>
            </span>

            <!-- <span id="notificationBtn" class="btnWithIcon">
                <i class="fa-regular fa-bell"></i>
            </span> -->
        </div>
    </div>

    <div id="menuContainer">
        <a class="menuLink" href="/user-home">Home</a>
        <a class="menuLink" href="/user">App</a>
        <a class="menuLink" href="/user/account">Account</a>
        <a class="menuLink" href="/user/wallet">Wallet</a>
        <a class="menuLink" href="/user_account_settings/{{user.user_id}}">Settings</a>
        <a class="menuLink" href="/user/help">Help</a>
        <a class="menuLink" href="/logout/{{user.user_id}}">Log Out</a>
    </div>
    {% endblock topbar %}
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="myalert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">X</span>
        <p>{{ message | safe }}</p>
        {% if category == 'idVerifyWarning' %}
        <a href="/verify-user-identity" class="btn btnNormal btnWithIcon">
            <i class="up-right-from-square"></i>
            <span>Verify Now</span>            
        </a>
        {% endif %}
        
    </div>
    {% endfor %}
  {% endif %}
    {% endwith %}

    {% block main %}
    <div class="categoryBtnsContainer">
        <a href="/user" class="btn btnTrans movieCategoryBtn">Daily</a>
        <a href="/user?movie_category=weekly" class="btn btnTrans movieCategoryBtn">Weekly</a>
        <a href="/user?movie_category=pre sale" class="btn btnTrans movieCategoryBtn">Pre Sale</a>
    </div>

    <div class="container" id="movieCardsContainer">


        {% for movie in moviesList %}
        <div class="movieCard">

            <div class="movieContentWrapper">
                <img src="{{movie['imgSrc']}}" alt="{{movie['title']}}">
            <div class="content">
                <div class="rating">
                    <span>{{movie['rating']}}</span>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="title">{{movie['title']}}</p>
                <p class="remaining detailsRow">
                    <span class="heading">Tickets Remaining:</span>
                    <!-- <span class="text">{{ randint(100, 1000) }}</span></p> -->
                    <span class="text">{{ movie['no_of_tickets'] }}</span></p>
                <p class="price detailsRow">
                    <span class="heading">Ticket Price:</span>
                    <span class="text">&dollar; {{priceDict[movie['placement']]['price']}}.00</span></p>
                <p class="actors detailsRow">
                    <span class="heading">Starcast:</span>
                    <span class="text">{{movie['actors']}}</span></p>
            </div>
        </div>

        <div class="buy">
            <p>Estimated profit per ticket: <span>{{priceDict[movie['placement']]['profit']}}%</span></p>
            <!-- {% if movie["id"] in purchasedMoviesList %}
            <button class="btn btnTrans">Already Purchased</button>
            {% else %}
            <a href="/user/quantity?movie_id={{movie['id']}}&ticket_price={{priceDict[movie['placement']]['price']}}&daily_profit_percent={{priceDict[movie['placement']]['profit']}}" class="btn btnNormal buyTicketBtn">Buy Ticket</a>
            {% endif %} -->
            <a href="/user/quantity?movie_id={{movie['id']}}&ticket_price={{priceDict[movie['placement']]['price']}}&daily_profit_percent={{priceDict[movie['placement']]['profit']}}" class="btn btnNormal buyTicketBtn">Buy Ticket</a>
        </div>

        <hr>

        <div class="release">
            <p>Release Date:</p>
            <p>{{movie['releaseDate']}}</p>
        </div>

        </div>
        {% endfor %}

    </div>
    {% endblock main %}

    {% block nav %}
    <nav>
        <a href="/user" class="navlink navlinkWithIcon">
            <i class="fa-solid fa-clapperboard"></i>
            <span>Movies</span>
        </a>
        <!-- <a href="/user/wallet" class="navlink navlinkWithIcon">
            <i class="fa-solid fa-money-check-dollar"></i>
            <span>Wallet</span>
        </a> -->
        <a href="/user/orders" class="navlink navlinkWithIcon">
            <i class="fa-solid fa-receipt"></i>
            <span>Orders</span>
        </a>
        <a href="/userhome" id="navLogoLink">
            <img id="navLogo" src="{{ url_for('static', filename='img/logos/Png/Influx-global-logo-Final-Files-04.png') }}" alt="">
        </a>
        <a href="/user/account" class="navlink navlinkWithIcon">
            <i class="fa-solid fa-user"></i>
            <span>Account</span>
        </a>
        <a href="/user/help" class="navlink navlinkWithIcon">
            <i class="fa-solid fa-headset"></i>
            <span>Help</span>
        </a>
        <!-- <a href="/logout/{{user.user_id}}" class="navlink navlinkWithIcon logoutBtn">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Logout</span>
        </a> -->
    </nav>
    {% endblock nav %}

</body>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> -->
<script src="https://kit.fontawesome.com/7d3f73a100.js" crossorigin="anonymous"></script>
<script src="/static/js/user/script.js"></script>
<script>
    let navlinkSpanList = document.querySelectorAll(".navlink.navlinkWithIcon span");
    let categoryLinkList = document.querySelectorAll(".movieCategoryBtn");
    let menuContainer = document.getElementById("menuContainer");
    let profileSpan = document.getElementById("profileSpan");
    function setCurrentNavlink(){
        console.log("onload function runing");
        navlinkSpanList.forEach(span => {
            if(span.innerHTML == "{{ currentPagespanText }}"){
                span.parentElement.classList.add("selected");
            }
        })
        categoryLinkList.forEach(link => {
            if(link.innerHTML == "{{ currentMCategoryspanText }}"){
                link.classList.add("selected");
            }
        })
    }

    profileSpan.addEventListener("click", (e)=>{
        menuContainer.classList.toggle("open")
    })

    document.body.onload = setCurrentNavlink;
</script>
{% block js %}
<script>
    // let ticketBuyBtnList = document.querySelectorAll(".buyTicketBtn");
    
    // ticketBuyBtnList.forEach(btn => {
    //     btn.addEventListener('click', (e)=>{
    //         e.preventDefault();
            // let time_now = new Date();
            // time_now_string = `${time_now.getFullYear()}-${time_now.getMonth() + 1}-${time_now.getDate()}-${time_now.getHours()}-${time_now.getMinutes()}` 
            // let buyTicketUrl = new URL(e.target.href);
    //         let buyTicketUrlParams = new URLSearchParams(buyTicketUrl.search);
    //         console.log(buyTicketUrl.href)
    //         buyTicketUrl.searchParams.append('purchase_time', time_now_string);
    //         window.location.href = e.target.href;
    //     })
    // });
</script>
{% endblock js %}

</html>