{% extends 'user/home.html' %}

{% block title %}Wallet{% endblock title %}

{% block css %}
<style>
    #walletContainer {
        /* border: 1px solid #ffffff61; */
        /* margin: 5vw; */
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    .walletMain{
        /* background: linear-gradient(90deg, #180848, #06101c, #180848); */
        /* background: linear-gradient(90deg, #483b08, #7d7e0a, #483b08); */

        background: linear-gradient(45deg, black, transparent);
        background-color: #505050a6;

        display: flex;
        flex-direction: column;
        border-radius: 15px;
        padding: 35px;
        align-items: center;
        row-gap: 10px;
        border: 1px solid #484848;
    }

    .walletMain p{
        text-align: center;
        font-size: 0.8rem;
        opacity: 0.7;
    }

    .balanceContainer {
        padding: inherit;
        display: flex;
        /* flex-direction: column; */
        /* align-items: center; */
        justify-content: space-around;
        padding: 30px;
        align-self: flex-start;
        column-gap: 15px;
    }

    .balanceContainer .heading {
        font-size: 0.9rem;

    }

    .balanceContainer .text {
        font-weight: bold;
        font-size: 2rem;
    }

    #walletContainer .actions {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
    }

    #walletContainer .actions .btn {
        border: 1px solid #ffffff61;
        border-radius: 5px;
    }

    #walletContainer .actions .btn:hover {
        border-color: orange;
        background-color: orange;
    }

    span strong {
        color: #ffd400;
        margin-left: 20px;
    }

    .infoBlock {
        padding: 10px 15px;
        /* background-color: #003e6a; */
        background-color: #6a3600;
        border-radius: 30px;
    }
    .amountBlock{
        /* border: 1px solid #878787; */
        /* padding: 30px; */
        padding: 25px 20px;
        min-width: 219px;
        border-radius: 10px;
        background-color: #303030;
        font-size: 0.9rem;
        display: flex;
        justify-content: space-between;
        box-shadow: 1px 1px 1px black;
        column-gap: 20px;
        row-gap: 20px;
        flex-wrap: wrap;
        align-items: center;
    }
    @media screen and (max-width: 550px) {
        span strong{
            margin: 0px;
        }
        .container{
            padding-top: 5vh;
            padding-bottom: 20vh;
            padding-right: 5vw;
            padding-left: 5vw;
        }
    }
</style>
{% endblock css %}

{% block main %}

<div class="container" id="walletContainer">

    <div class="walletMain">
        {% if user.experience_money != None %}
        <div class="balanceContainer">
            <span class="heading">Experience Money</span>
            <span class="text">&dollar; {{ round(user.experience_money, 2) }}</span>
        </div>
        <p>The Experience Money is valid till 24 hours after acccont creation. You can it to buy tickets and for practice (demo purposes)</p>
        {% endif %}
        <div class="balanceContainer">
            <span class="heading">Your Balance</span>
            <span class="text">&dollar; {{ round(user.wallet_balance, 2) }}</span>
        </div>

        <span class="amountBlock">
            Today's Earning <strong>&dollar; {{ round(user.today_earning, 2) }}</strong>
        </span>
        <span class="amountBlock">
            Earning in this month <strong>&dollar; {{ round(user.monthly_earning, 2) }}</strong>
        </span>
    </div>

    <div class="actions">
        <a href="/user/recharge" class="btn btnWithIcon">
            <i class="fa-solid fa-coins"></i>
            <span>Recharge</span>
            <a href="/user/withdraw" class="btn btnWithIcon">
                <i class="fa-solid fa-money-bill-transfer"></i>
                <span>Withdraw</span>
            </a>
    </div>

</div>

{% endblock main %}