{% extends 'user/home.html' %}

{% block title %}Withdraw{% endblock title %}

{% block css %}
<style>
    #alertBox{
        display: none;
    }
    #alertBox span{
        position: absolute;
        top: 20px;
        right: 20px;
    }
    #alertBox p, #alertBox a{
        justify-self: center;
    }
    #alertBox a{
        background-color: black;
        border-color: black;
    }
    #alertBox *{
        font-size: 1.2rem;
    }
    #alertBox p{
        color: black;
    }
    #alertBox a{
        color: white;
    }
    #formContainer{
        height: 85vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 3vh;
    }
    p, label{
        color: black;
    }
    #formContainer form{
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    input{
        border: 1px solid rgb(18 18 18 / 47%);
        border-radius: 5px;
        padding: 13px;
        color: black;
        background: none;
        outline: none;
    }

</style>
{% endblock css %}

{% block main %}

<div id="formContainer">


    <!-- <div class="alert" id="alertBox">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div> -->

    <div class="alert" id="alertBox">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <p>For Recharge via bank transfer, contact customer support on telegram by clicking the below link</p>
        <a class="btn btnTrans" target="_blank" href="https://t.me/Influxglobal?start=Hi, I want to recharge my Influx Global Account via bank transfer. My user ID is {{user.user_id}}">Go to Telegram</a>
      </div>

    <h1>Enter withdraw amount</h1>
    <p style="color: white;">Minimum withdraw is &dollar; 5</p>
    <p style="color: white;">Maximum withdraw is &dollar; {{float_to_int(user.wallet_balance)}} (your wallet balance)</p>
    <form action="" method="post" id="rechargeForm">
        <input type="number" name="amount" id="amountInput" placeholder="Recharge Amount(&dollar;)" required min="5" max="{{user.wallet_balance}}">
        <p>Select payment method</p>
        <div class="radioContainer">
            <input type="radio" name="payment_method" id="radioCryptoPayment" value="TRC20" checked>
            <label for="radioCryptoPayment">TRC20 (Crypto Payment)</label>
        </div>
        <div class="radioContainer">
            <input type="radio" name="payment_method" id="radioBankTransfer" value="Bank Transfer">
            <label for="radioBankTransfer">Bank Tansfer</label>
        </div>
        <button type="submit" class="btn btnNormal btnWithIcon" id="submitBtn">
            <i class="fa-solid fa-arrow-right-long"></i>
            <span>Continue</span>
        </button>
    </form>
</div>

{% endblock main %}

{% block js %}
<script>
    let submitBtn = document.getElementById("submitBtn");
    let rechargeForm = document.getElementById("rechargeForm");
    let amountInput = document.getElementById("amountInput");
    let alertBox = document.getElementById("alertBox");

    // submitBtn.addEventListener('click', (e)=>{
    //     e.preventDefault();
    //     payment_radioList =  document.getElementsByName("payment_method");
    //     // window.alert(`the payment method is ${payment_radio.value}`)
    //     let bank_transfer_method = false
    //     payment_radioList.forEach(radio => {
    //         if(radio.checked && radio.value == "Bank Transfer"){
    //             bank_transfer_method = true
    //         }
    //     });
    //     if (!amountInput.checkValidity()){
    //         amountInput.reportValidity();
    //     }
    //     else if(amountInput.checkValidity()){
    //         if (bank_transfer_method) {
    //             // window.alert("For bank transfer, contact Customer support");
    //             alertBox.style.display = "flex";
    //         }
    //         else{
    //             rechargeForm.submit();
    //         }
    //     }
    // })
</script>
{% endblock js %}